* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;

  padding: 0;
  margin:  0;
}

body {
  background: #33AB90;
  color:      #33AB90;

  font-family: "ff-meta-web-pro", sans-serif;

  font-size:   1.2rem;
  line-height: 2rem;

  margin:  0;
  padding: 0;
}

header, section, footer {
  padding: 2rem;
}

header .inner, section .inner, footer .inner {
  max-width: 700px;
  margin: auto;
}

.nsarray {
  background: #AB3333;
  color:      #AB3333;
}

.nsdictionary {
  background: #3390AB;
  color:      #3390AB;
}

.helpers {
  background: #AB9033;
  color:      #AB9033;
}

h1, h2, h3, h4, h5 {
  font-family: "brandon-grotesque";
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size:   70px;
  line-height: 6rem;
}

h2 {
  font-size:   30px;
  line-height: 3rem;
}

h3 {
  font-size:   2rem;
  line-height: 2rem;

  margin: 2rem 0 1rem 0;
}

h4 {
  font-size:   20px;
  line-height: 2rem;

  margin: 2rem 0 1rem 0;
}

h4 + h4 {
  margin-top: -1rem;
}

h4 code {
  display: block;

  font-family: Menlo, "droid-sans-mono", monospace;
  /*font-family: inherit !important;*/
  font-size:   0.9rem !important;
  line-height: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

p {
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

p + p {
  margin-top: -0.5rem;
}

a {
  color: rgba(255, 255, 255, 0.9);
}

pre, h2, h3, h4, h5 {
  margin-bottom: 1rem;
}

pre, tt, code, kbd, samp {
  font-family: Menlo, "droid-sans-mono", monospace;
  font-size:   0.95rem;
}

pre, p code {
  border-radius: 0.2rem;

  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

p code {
  background-color: rgba(255, 255, 255, 0.66);
}

pre {
  padding: 0.5rem;
  overflow: auto;
  color: black;

  margin-left:  -0.5rem;
  margin-right: -0.5rem;
}

p code {
  padding: 0.2rem 0.3rem;
  color: black;
}

.button {
  display: inline-block;

  padding: 1rem 1.5rem;
  margin: 0 1rem 1rem 0;
  border-radius: 0.25rem;

  color: inherit;
  background: rgba(0, 0, 0, 0.4);

  text-decoration: none;

  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.button:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}

aside {
  display: none;

  position: fixed;
  top:      0rem;
  left:     0rem;
  bottom:   0rem;

  width:  14rem;

  padding: 2rem;

  overflow: scroll;

  background: -webkit-linear-gradient(right,
                                      rgba(15, 15, 25, 0.65) 0,
                                      rgba(25, 25, 35, 0.55) 1px,
                                      rgba(35, 35, 45, 0.25) 3px,
                                      rgba(45, 45, 55, 0.00) 12px)
              rgba(255, 255, 255, 0.2);
}

li {
  list-style: none;
  line-height: 1.5rem;
}

ul li a {
  font-size: 1.2rem;
  font-weight: bold;
}

ul ul li a {
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
}

ul ul li:hover {
  text-decoration: underline;
}

ul ul li a:before {
  content: "- ";
}
