* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;

  padding: 0;
  margin:  0;
}

body {
  background: #33AB90;
  color:      #33AB90;

  font-family: "ff-meta-web-pro", sans-serif;

  font-size:   1.2rem;
  line-height: 2rem;

  margin:  0;
  padding: 0;
}

header, section, footer {
  padding: 2rem;
}

header .inner, section .inner, footer .inner {
  max-width: 700px;
  margin: auto;
}

.nsarray {
  background: #AB3333;
  color:      #AB3333;
}

.nsdictionary {
  background: #3390AB;
  color:      #3390AB;
}

.helpers {
  background: #E8930C;
  color:      #E8930C;
}

h1, h2, h3, h4, h5 {
  font-family: "brandon-grotesque";
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size:   70px;
  line-height: 6rem;
}

h2 {
  font-size:   30px;
  line-height: 3rem;
}

h3 {
  font-size:   2rem;
  line-height: 2rem;

  margin: 2rem 0 1rem 0;
}

h4 {
  font-size:   20px;
  line-height: 2rem;

  margin: 2rem 0 1rem 0;
}

h4 + h4 {
  margin-top: -1rem;
}

h4 code {
  display: block;

  font-family: Menlo, "droid-sans-mono", monospace;
  font-size:   0.9rem !important;
  line-height: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

nav {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

p + p {
  margin-top: -0.5rem;
}

a {
  color: rgba(255, 255, 255, 0.9);
}

a:hover {
  color: white;
}

pre, h2, h3, h4, h5 {
  margin-bottom: 1rem;
}

pre, tt, code, kbd, samp {
  font-family: Menlo, "droid-sans-mono", monospace;
  font-size:   0.95rem;
}

pre, p code {
  border-radius: 0.2rem;

  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

p code {
  background-color: rgba(255, 255, 255, 0.66);
}

pre {
  padding: 0.5rem;
  overflow: auto;
  color: black;

  margin-left:  -0.5rem;
  margin-right: -0.5rem;
}

p code {
  padding: 0.2rem 0.3rem;
  color: black;
}

.button {
  display: inline-block;

  padding: 1rem 1.5rem;
  margin: 0 1rem 1rem 0;
  border-radius: 0.25rem;

  color: inherit;
  background: rgba(0, 0, 0, 0.4);

  text-decoration: none;

  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: rgba(0, 0, 0, 0.5);

  color: inherit;
}

.button:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}

p + nav.methods {
  margin-top: -1rem;
}

nav.methods li {
  display: inline-block;
}

nav.methods li:after {
  content: ",";
  margin-right: 0.2rem;
  color: rgba(255, 255, 255, 0.75);
}

nav.methods li:last-child:after {
  content: ""
}
