/* Remove the index */
#index {
  display: none;
}

body {
  padding: 12px;
}

#wrapper {
  overflow: hidden;
}

header h1 {
  padding: 6px 0 0 0;
  font:    52px/48px "bello-pro", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
}

header h2 {
  padding: 0 0 6px 0;
  font:    20px/24px "Georgia", serif;
}
