<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Underscore.m</title>
  <meta name="description" content="Underscore.m is a small utility library to facilitate working with common data structures in Objective-C.">

  <!-- Open Graph -->
  <meta property="og:title" content="Underscore.m" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://underscorem.org" />
  <meta property="og:image" content="http://underscorem.org/icons/open-graph.png" />
  <meta property="og:site_name" content="Underscore.m" />
  <meta property="og:description" content="Underscore.m is a small utility library that facilitates working with common data structures in Objective-C. It is inspired by the awesome underscore.js" />
  <meta property="fb:admins" content="1623421444" />

  <!-- Homescreen icons -->
  <link rel="apple-touch-icon" href="icons/apple-touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-iphone4.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-touch-icon-ipad3.png" />

  <script type="text/javascript" src="http://use.typekit.com/jgi2evu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <header>
    <h1>Underscore.m</h1>
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    Underscore.m is being maintained by
    <a href="http://robb.is">Robert Böhnke</a>, it is MIT licensed.
  </footer>
</body>
</html>
