<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Underscore.m</title>
  <meta name="description" content="Underscore.m is a small utility library to facilitate working with common data structures in Objective-C.">

  <!-- Open Graph -->
  <meta property="og:title" content="Underscore.m" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://underscorem.org" />
  <meta property="og:image" content="http://underscorem.org/icons/open-graph.png" />
  <meta property="og:site_name" content="Underscore.m" />
  <meta property="og:description" content="Underscore.m is a small utility library that facilitates working with common data structures in Objective-C. It is inspired by the awesome underscore.js" />
  <meta property="fb:admins" content="1623421444" />

  <script type="text/javascript" src="//use.typekit.net/vuy5neu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/css/pygments.css" />

  <script type="text/javascript">
    window.onload = function () {
      var body       = document.getElementsByTagName('body')[0];
      var navigation = document.getElementById('navigation');
      var sections   = document.getElementsByTagName('section');

      var init  = document.getElementById('intro').clientHeight;
      var fixed = false;

      var updateNavigation = function() {
        var scrollDistance = document.body.scrollTop ||
                             document.documentElement.scrollTop;

        if (!fixed && (navigation.offsetTop - scrollDistance < 0)) {
          navigation.style.top      = 0;
          navigation.style.position = 'fixed';
          navigation.className      = 'fixed';
          fixed = true;
        } else if (fixed && scrollDistance <= init) {
          navigation.style.position = 'absolute';
          navigation.style.top = init + 'px';
          navigation.className = navigation.className.replace('fixed', '');
          fixed = false;
        }
      };

      window.onscroll = updateNavigation;

      updateNavigation();

      ['nsarray', 'nsdictionary', 'helpers'].forEach(function(id) {
        var section   = document.getElementById(id);
        var headlines = section.getElementsByTagName('h4');
        var listItem  = document.getElementById('nav-' + id);

        for (var i = 0; i < headlines.length; i++) {
          var headline = headlines[0];

          console.log(headline.text);
        }
      });
    }
  </script>
</head>
<body>
  <div id="content">
    {{ content }}
  </div>

  {% include navigation.html %}
</body>
</html>
