<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Underscore.m</title>
  <meta name="description" content="Underscore.m is a small utility library to facilitate working with common data structures in Objective-C.">

  <!-- Open Graph -->
  <meta property="og:title" content="Underscore.m" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://robb.github.io/Underscore.m/" />
  <meta property="og:image" content="https://robb.github.io/Underscore.m/icons/open-graph.png" />
  <meta property="og:site_name" content="Underscore.m" />
  <meta property="og:description" content="Underscore.m is a small utility library that facilitates working with common data structures in Objective-C. It is inspired by the awesome underscore.js" />
  <meta property="fb:admins" content="1623421444" />

  <script type="text/javascript" src="//use.typekit.net/vuy5neu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" media="screen, projection" href="https://robb.github.io/Underscore.m/css/default.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="https://robb.github.io/Underscore.m/css/pygments.css" />

  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-20850973-7', 'underscorem.org');
    ga('send', 'pageview');
  </script>

  <script type="text/javascript">
    $(function () {
      ['nsarray', 'nsdictionary', 'helpers'].forEach(function(id) {
        var section    = $('#section-' + id),
            headlines  = section.find('h4'),
            navigation = section.find('nav');

        var list = $('<ul/>');

        headlines.each(function(i, el) {
          var text   = $(el).text(),
              title  = text.match('^([A-Za-z0-9]+)')[0],
              anchor = $(el).attr('id');

          list.append('<li><a href="#' + anchor + '">' + title +'</a></li>');
        });

        navigation.append(list);
      });
    });
  </script>
</head>
<body>
  <div id="content">
    {{ content }}
  </div>
</body>
</html>
